extends layoutes

block content
  br
  h1 #{title}
  .row
  .col
  form(method= 'post', action='/editExpense/'+expenses._id)
    .input-group.input-group-lg
    .mb-3.row
      .form-floating.mb-3
        input#floatingInput.form-control(type='text' class='input-field' placeholder='Title'  name='title' value=(expenses && expenses.title) ? expenses.title : 'not found')
        label.ml-2(for='floatingInput').mb-2 Title
      .form-floating.mb-3
        input#floatingInput.form-control(type='text' class='input-field' placeholder='Amount' name='amount' value=expenses.amount)
        label(for='floatingInput').mb-2 Amount
      .form-floating.mb-3
        input#floatingInput.form-control(type='text'  placeholder='Category'  name='category' class='input-field' value=expenses.category)
        label(for='floatingInput').mb-2 Category
        br
        button(type="reset"  value='Reset',class='btn btn-secondary cancelButton') Cancel
        input(type="submit"  value='Edit Expense',class='text-light').btn.btn-success
