extends layoutes

block content
  br
  h1 Login
  form(method='POST', action='/users/login')
    .input-group.input-group-lg
    .mb-3.row
      .form-floating.mb-3
        input.floatingInput.form-control(type='text' placeholder='Username'  name='username')
        label(for='floatingInput').mb-2 Username
      .form-floating.mb-3
        input.floatingInput.form-control(type='password' placeholder= 'Password'  name='password')
        label(for='floatingInput').mb-2 Password
        br
        input(type="submit"  value='Login').btn.btn-success


