* {
  list-style-type: none;
}
.form-floating > label {
  margin-left: 10px;
  color: grey;
  letter-spacing: 0.1rem;
}

.alert-danger {
  /* display: inline; */
  margin-top: 12px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  margin-top: 12px;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  margin-top: 12px;
}
.nav-link {
  margin-right: 10px;
}
.alert-success_msg {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.edit-button {
  margin-right: 0.5rem;
}
.alert-success {
  margin-top: 10px;
}
#myChart {
  width: 410px !important;
  height: 400px !important;
  position: relative;
  left: 450px;
  top: 47px;
}
#myBarChart {
  width: 638px !important;
  height: 400px !important;
  position: absolute;
  top: 676px;
  right: 22rem;
}
.expense-text {
  position: relative;
  bottom: -34rem;
}
.cancelButton {
  margin-right: 8px;
}
.addExpenseButton {
  position: relative;
  top: 395px;
  width: max-content;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.addNew {
  height: 0;
  width: 0;
}
.addExpenseButton:hover {
  color: blue;
  background-color: #fff;
}
.categoryText {
  position: relative;
  top: -442px;
}
/*Chart Media Query*/
@media screen and (max-width: 767px) {
  #myChart {
    position: relative;
    right: 300px !important;
    background-color: #3c763d;
  }
}
